/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.days, .hour, .minute, .second{position: absolute; color: #fff;font-size: 20px;}

.days{left: 35%;}
.hour{left: 45%;}
.minute{left: 55%;}
.second{left:64%;}
canvas{
  position: absolute;
  top: 0;
  opacity: 0.40;
}
#wrapper .avatar img{ transition: all .2s ease-in-out; }
#wrapper .avatar img:hover { transform: scale(1.5);cursor: pointer; }
